<div class='parallax-ad-container'>
   <div>
    <div>
      <div>
        <!-- GANTI KODE IKLAN ANDA DI SINI -->
        <ins class='adsbygoogle parallax-ad-content'
             data-ad-client='ca-pub-XXXXXXXXXXXXXXXX'
             data-ad-slot='YYYYYYYYYY'
             style='display:block'></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <!-- AKHIR DARI KODE IKLAN -->
      </div>
    </div>
  </div>
 <span class='clear'></span>
</div>
